@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');

body{
    font-family: 'Manrope', sans-serif;

}

.leftside, .rightside{
    height: 100vh;
    width: 100%;
}

.leftside {
    background-color: white;
}
.rightside {
    background-color: #e3f8fb;
}
.rightside-dash {
    background-color: white;
}
.navBarDiv{
    background-color: #e3f8fb;
}
.logo-container{
    opacity: 100%;
    text-align: center;
    padding-top: 300px;
}


.title{
    padding-top: 150px;
    padding-left: 80px;
}

.p-msg{
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 25px;
    color: gray;
}

.form-padding{
    padding-bottom: 15px;
}
.pl80{
    padding-left: 80px;
}

.pr70{
    padding-right: 70px;
}
.signup-msg{
  display: inline;
  padding-left: 10px;
  color: gray;
}


.padding{
  padding-right: 30px;
}

.signout{
    cursor: grab;
   
}
.signout-btn{
    padding-left: 90%;
}

.loader{
    text-align: center;
    line-height: 500px;
}

#students {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  font-size: 20;
}

#students td, #students th {
  border: 1px solid black;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #e3f8fb;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-bottom: 12px;
  text-align: center;
  background-color: #00BFFF;
  color: white;
}

.title-div{
    padding-top: 15px;
    text-align: center;
}
.star {
    background: url(/src/baseline_star_border_black_18dp.png);
}